@media (max-width: 620px) {
    .pokemon-slider{
        padding: 0 15px;
        gap: 10px
    }

    .btn-seta {
        width: 10px;
        height: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-pokemons {
        height: 480px;
    }

    .cartao .imagem-pokemon {
        max-height: 230px;
    }

    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 14px;
    }

    .cartao .informacoes .vida {
        font-size: 10px;
    }

    .cartao .descricao .titulo {
        
        font-size: 12px;
        padding: 4px 0px 4px 10px;
        
    } 
}